@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
    --main-color: #0a6aa6;
    --Light-out: #065485;
    --bright-color: #c0e7f0;
    --verde-main: #50b6a3;
    --verde-light: #62d9c3;
    --verde-out: #387f72;
    --main-font: "Roboto", sans-serif;
    --sec-font: "Poppins", sans-serif;
  }

body {
    background-color: #c8fff4 ;
}
  
.caixaAdm {
    display: flex;
    background-color: var(--Light-out);
    width: 70rem;
    height: 35rem;
    margin: auto;
    margin-top: 3rem;
}

.relatorio {
    display: flex;
    background-color: grey;
    width: 10rem ;
    height: 5rem ;
}


